/* Any custom CSS you would like to specify for your site can go here. */

body {
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    margin-bottom: 20px;
  }
  
  .card-img {
    border-radius: 0.5rem;
  }
  
  .col-md-4 {
    padding: 20px;
  }
  .card-img {
    width: 230px;
    height: 200px;
  }